.mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  top: 469px !important;
  height: 26px;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #ffffff !important;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.mySwiper .swiper-button-prev {
  position: absolute;
  top: 530px;
  left: calc(50% - 40px);
}
.mySwiper .swiper-button-next {
  /* position: absolute; */
  top: 530px;
  right: calc(50% - 40px);
}
.mySwiper .swiper-button-prev::after {
  display: none;
}
.mySwiper .swiper-button-next::after {
  display: none;
}
