/* ###################### Slider Configration ###########################3 */
.mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  top: 469px !important;
  height: 26px;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #ffffff !important;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.mySwiper .swiper-button-prev {
  position: absolute;
  top: 530px;
  left: calc(50% - 40px);
}
.mySwiper .swiper-button-next {
  /* position: absolute; */
  top: 530px;
  right: calc(50% - 40px);
}
.mySwiper .swiper-button-prev::after {
  display: none;
}
.mySwiper .swiper-button-next::after {
  display: none;
}

/* ###################### Toggle Switch style ################################ */

.peer:checked ~ .peer-checked\:after\:translate-x-full::after {
  --tw-translate-x: 120%;
}

/* ######################## Web Hosting Section Styling ############################ */

.hosting-card-Shaddow {
  box-shadow: 0px 6px 20px 0px #1018280f;
}
.hosting-card-Shaddow:hover {
  box-shadow: 0px 6px 30px 1px #01499a1f;
  border: none;
}
